<div>
  <h2 id="page-heading" data-cy="ResouceHeading">
    <span jhiTranslate="authApp.resouce.home.title">Resouces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="authApp.resouce.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resouce"
        [routerLink]="['/resouce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="authApp.resouce.home.createLabel"> Create a new Resouce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resouces?.length === 0">
    <span jhiTranslate="authApp.resouce.home.notFound">No resouces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="resouces && resouces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="authApp.resouce.address">Address</span></th>
          <th scope="col"><span jhiTranslate="authApp.resouce.method">Method</span></th>
          <th scope="col"><span jhiTranslate="authApp.resouce.description">Description</span></th>
          <th scope="col"><span jhiTranslate="authApp.resouce.rolee">Rolee</span></th>
          <th scope="col"><span jhiTranslate="authApp.resouce.permison">Permison</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resouce of resouces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resouce', resouce.id, 'view']">{{ resouce.id }}</a>
          </td>
          <td>{{ resouce.address }}</td>
          <td>{{ resouce.method }}</td>
          <td>{{ resouce.description }}</td>
          <td>
            <span *ngFor="let rolee of resouce.rolees; let last = last">
              <a class="form-control-static" [routerLink]="['/rolee', rolee.id, 'view']">{{ rolee.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let permison of resouce.permisons; let last = last">
              <a class="form-control-static" [routerLink]="['/permision', permison.id, 'view']">{{ permison.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resouce', resouce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resouce', resouce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(resouce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
